@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Share+Tech+Mono&display=swap');
body{
    color: black;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    padding: 0 7%;
}

nav.navbar__nav{
    /* color: white; */
    color: #0f0f0f;
    /* background-color: #41584b; */
    /* height: 10vh; */
}
span.navbar-brand{
    font-family: 'Pacifico', cursive;
}
div.main__container{
    /* background-color: #34626c; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* height: 90vh; */
    padding-top: 4%;
}
table.main__table{
    width: 50%;
}
img.profile__pic{
    border: solid #70af85 3px;
    border-radius: 5%;
}
input.form__item{
    width: 40vw;
    height: 8vh;
}
input.form__item:hover{
    border: solid #86aba1 3px;
}
input.submit__btn{
    background-color: #79a3b1;
    color: white;
}
input.submit__btn:hover{
    color: #0f0f0f;
}
/* table.table.table-borderless{
    color: white;
} */